@import "../../styles/vars.scss";
@import "./_navbubble.scss";

header.hero {
  &.mini {
    hgroup {
      h1 {
        display: inline-block;
        font-size: 1.75rem;
      }
      h3 {
        display: none;
      }
    }
  }

  hgroup {
    //transition: all 2s;
    h1 {
      color: var(--uh-red);
    }
    // Subtitle
    h1 + h3 {
      // Undo margin-bottom for <h1>
      padding-top: calc(var(--lineHeight) * -1);
      //font-variation-settings: 'wght' 300;
      font-weight: 300;
    }
  }

  @include navbubble;
}
