
details.blog {
  summary {
    outline: 0;

    & .new {
      background: rgb(255, 209, 70);
      //margin-left: 1em;
    }
  }
}

ul.blog {
  list-style-type: none;
  li {
    font-size: 0.9em;
    line-height: 1.0;
    a {
      text-decoration: none;
    }
    time {
      color: grey;
      font-style: italic;
    }

    &.priority {
      font-size: 1.1em;
      font-weight: 700;
    }
  }
}
