.links .btn {
  margin: 2px;
}

.collaborators-wrap {
  display: flex;
  //justify-items: flex-start;
  justify-content: space-evenly;
  flex-flow: row wrap;
}

// see: https://stackoverflow.com/a/41566570
.cryptedmail:after {
  content: attr(data-name) "@" attr(data-domain) "." attr(data-tld); 
}