// Custom.scss
// Option B: Include parts of Bootstrap
// From: https://getbootstrap.com/docs/5.0/customize/sass/

@use "sass:map";

// 1. Include functions first (so you can manipulate colors, SVGs, calc, etc)
@import "bootstrap/scss/_functions.scss";

// 2. Include any default variable overrides here

// 3. Include remainder of required Bootstrap stylesheets
@import "bootstrap/scss/_variables.scss";
@import "bootstrap/scss/_mixins.scss";

// 4. Include any optional Bootstrap components as you like
// @import "../node_modules/bootstrap/scss/root";
// @import "../node_modules/bootstrap/scss/reboot";
// @import "../node_modules/bootstrap/scss/type";
// @import "../node_modules/bootstrap/scss/images";
// @import "../node_modules/bootstrap/scss/containers";
// @import "../node_modules/bootstrap/scss/grid";
@import "bootstrap/scss/_spinners.scss";
@import "bootstrap/scss/_buttons.scss";

.btn {
  font-weight: 700;
}
.btn-400 {
  font-weight: 400;
}
.btn-500 {
  font-weight: 500;
}

.btn {
  .spinner-border, .spinner-grow {
    margin-right: 0.35rem;
  }
}

.btn.btn-adaptive {
  $color: map.get($theme-colors, "dark");
  @include button-variant(
    $color,
    $color,
    $hover-background: tint-color($color, $btn-hover-bg-tint-amount),
    $hover-border: tint-color($color, $btn-hover-bg-tint-amount),
    $hover-color: color-contrast(tint-color($color, $btn-hover-bg-tint-amount)),
    $active-background: tint-color($color, $btn-active-bg-tint-amount),
    $active-border: tint-color($color, $btn-active-border-tint-amount),
    $active-color: color-contrast(tint-color($color, $btn-active-bg-tint-amount)),
    $disabled-background: $color,
    $disabled-border: $color,
    $disabled-color: color-contrast($color)
  );
}

@media (prefers-color-scheme: dark) {
  .btn.btn-adaptive {
    $color: map.get($theme-colors, "light");
    @include button-variant(
      $color,
      $color,
      $hover-background: shade-color($color, $btn-hover-bg-shade-amount),
      $hover-border: shade-color($color, $btn-hover-bg-shade-amount),
      $hover-color: color-contrast(shade-color($color, $btn-hover-bg-shade-amount)),
      $active-background: shade-color($color, $btn-active-bg-shade-amount),
      $active-border: shade-color($color, $btn-active-border-shade-amount),
      $active-color: color-contrast(shade-color($color, $btn-active-bg-shade-amount)),
      $disabled-background: $color,
      $disabled-border: $color,
      $disabled-color: color-contrast($color)
    );
  }
}


// 5. Add additional custom code here