.collaborator {
  display: inline-flex;
  align-items: center;
  margin-top: 0.5em;
  margin-bottom: 0.5em;

  & > a {
    width: 75px;
    height: 75px;
    border-radius: 6px;
    background: rgba(136, 139, 141, 0.20);
  }

  img {
    width: 75px;
    border-radius: 6px;
    margin-bottom: 0;
  }
  .user {
    padding: 0.5em;
    padding-right: 1em;
    span {
      display: block;
      line-height: 1;
    }
    .name {
      font-size: 1.2em;
      line-height: 1.4em;
      font-weight: 600;
    }
    .login {
      font-size: 1em;
      //line-height: 1.2em;
      font-weight: 300;
      color: var(--uh-grey);
      //margin-bottom: 2.5em;
    }
  }
}
