// Custom.scss
// Option B: Include parts of Bootstrap
// From: https://getbootstrap.com/docs/5.0/customize/sass/

@use "sass:meta";

// 1. Include functions first (so you can manipulate colors, SVGs, calc, etc)
@import "bootstrap/scss/_functions.scss";

// 2. Include any default variable overrides here

// 3. Include remainder of required Bootstrap stylesheets
@import "bootstrap/scss/_variables.scss";
@import "bootstrap/scss/_mixins.scss";

// 4. Include any optional Bootstrap components as you like
// @import "../node_modules/bootstrap/scss/root";
// @import "../node_modules/bootstrap/scss/reboot";
// @import "../node_modules/bootstrap/scss/type";
// @import "../node_modules/bootstrap/scss/images";
// @import "../node_modules/bootstrap/scss/containers";
// @import "../node_modules/bootstrap/scss/grid";
@import "bootstrap/scss/_utilities.scss";
@import "bootstrap/scss/_helpers.scss";
@import "bootstrap/scss/utilities/_api.scss";

@import "bootstrap/scss/_progress.scss";

// 5. Add additional custom code here

// From: https://getbootstrap.com/docs/5.0/customize/color/
$extra-colors: (
  "blue": $blue, 
  "indigo": $indigo,
  "purple": $purple,
  "pink": $pink,
  "red": $red,
  "orange": $orange,
  "yellow": $yellow,
  "green": $green,
  "teal": $teal,
  "cyan": $cyan
);

@each $name, $color in $extra-colors {
  .bg-#{$name} {
    background-color: $color !important;
  }
}

